.tarefa-concluida .card-body {
    background-color: #28a745 !important;
    color: white !important;
}

.tarefa-concluida {
    background-color: #28a745 !important;
    color: white !important;
}

    .tarefa-concluida .card-title,
    .tarefa-concluida .card-text,
    .tarefa-concluida span {
        color: white !important;
    }

    .tarefa-concluida .form-check-input {
        border-color: white !important;
    }

.btn-excluir {
    font-weight: bold !important;
    color: #dc3545 !important;
    font-size: 1.1rem !important;
    background-size: auto;
    border: none !important;
    background-color: transparent !important;
}

    .btn-excluir:hover {
        color: #bd2130 !important;
    }

.task-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

    .task-actions form {
        margin-bottom: 5px;
    }

.btn-editar {
    color: blue; 
    border: none !important;
    background-color: transparent !important;
}

    .btn-editar i {
    }

    .btn-editar:hover {
        color: blue;
    }
